{
  "alpaca_api_key": "YOUR_ALPACA_API_KEY_HERE",
  "alpaca_secret_key": "YOUR_ALPACA_SECRET_KEY_HERE",
  "binance_api_key": "YOUR_BINANCE_API_KEY_HERE",
  "binance_api_secret": "YOUR_BINANCE_API_SECRET_HERE",
  "weaviate_api_key": null
}
